.publication-nav {
    form {
        border: 0;
        @media (max-width: 767px) {
            padding: 10px 5px;
        }
        button {
            margin-left: 10px !important;
        }
    }
}
.item-list {
    .checkbox {
        @extend .col-xs-1;
        @media (max-width: 767px) {
            margin: 0;
        }
    }
    .columns-container {
        @extend .col-xs-46;
        padding-right: 0;
        @media (max-width: 767px) {
            padding-left: 30px;
            margin-top: -10px;
        }
        .item-main {
            @extend .col-sm-26;
            @extend .col-xs-38;
            .item-title {
                font-size: 16px;
            }
            .item-listing {
                @extend .small
            }
            .item-shipping {
                @extend .small
            }
            .item-tracking {
                @extend .text-muted;
                @extend .small;
            }
            .item-pause {
                .ch-icon-warning-sign {
                    font-size: 15px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
        .item-available {
            @extend .col-sm-8;
            @extend .col-xs-48;
            .well {
                border: 0;  
                padding: 4px;
                margin-top: 5px;
            }
            .red {
                @extend .bold;
                color: #C50C0C;
            }
            sup.red {
                font-size: 80%;
            }
            @media (max-width: 767px) {
                text-align: center;
                margin-top: 15px;
            }
        }
        .item-ship {
            @extend .col-sm-9;
            @extend .col-xs-48;
            padding-right: 0;
            padding-left: 45px;
            .ch-form-row {
                // @extend .col-xs-48;
                padding: 5px 0;                
                input {
                    width: 70px;
                }
                button {
                    margin-left: 10px;
                }
            }
            @media (max-width: 767px) {
                padding-left: 0;
                margin-bottom: 10px;
                .ch-form-row {
                    input {
                        width: 65%;
                    }
                    button {
                        margin-left: 5%;
                        width: 30%;
                    }
                }
            }
        }
    }
}