.publication-nav
	nav.navbar.navbar-default.navbar-no-color
		.container-fluid  
			form.navbar-form.navbar-left(name='searchBarForm', ng-submit="getSearch()")
				.input-group.navbar-left
					angucomplete-alt(id='publications', placeholder="{{'searchInPublications' | translate}}", pause='200',
					selected-object='selectedObject', local-data='items', search-fields='title', title-field='title',
					minlength='1', text-searching='{{"searching..." | translate}}', text-no-results='{{"notFound" | translate}}',
					input-class='form-control', match-class='bold', ng-model='search')
					span.input-group-btn
						button.btn.ch-btn-skin.btn-sm(type='submit', translate='') search	
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(id="dropdownMenu1", data-toggle="dropdown", aria-expanded="true")
							| {{'filters' | translate}}:&nbsp;
							span.caret
						ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
							li(ng-repeat="filter in filters", role="presentation")
								a(href='/') {{filter.name}} &nbsp;